<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="pages" type="HtmlComparer.Configuration.Sections.PagesSection, HtmlComparer" />
		<section name="sources" type="HtmlComparer.Configuration.Sections.SourcesSection, HtmlComparer" />
		<section name="compareFields" type="HtmlComparer.Configuration.Sections.CompareFieldsSection, HtmlComparer" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
	<sources>
		<source baseUrl="https://realrussia.co.uk" compare-role="Origin" />
		<source baseUrl="https://new.realrussia.co.uk" use-checkers="true" compare-role="Target" />
	</sources>

	<pages>
		<page path="/cc" />
		<page path="/Careers" />
		<page path="/Partners" />
		<page path="/Partners/Agreement" />
		<page path="/Partners/Apply" />
		<page path="/Privacy" />
		<page path="/Terms" />
		<page path="/Visas" />
		<page path="/Visas/Russian" />
		<page path="/Info/" />
		<page path="/Info/Faq" />
		<page path="/Info/TravelSim" />
		<page path="/Info/Testimonials" />
		<page path="/Info/CustomerServices" />
		<page path="/Info/HowToPay" />
		<page path="/Info/Languages" />
		<page path="/Info/Links" />
		<page path="/Info/Money" />
		<page path="/Info/Money/Budget-Russia" />
		<page path="/Info/Money-Back-Guarantee" />
		<page path="/Info/Real-Russia-Story" />
		<page path="/Info/Testimonials/Video" />
		<page path="/Info/Transfers" />
		<page path="/Info/TravelInsurance" />
		<page path="/Info/Why-Real-Russia" />
		<page path="/Info/WorldTravelAwards" />
		<page path="/Info/About-Us" />
		<page path="/Info/Contact-Us" />
		<page path="/Info/Crimea-Update" />
		<page path="/Info/Destinations" />
		<page path="/Info/Destinations/Almaty" />
		<page path="/Info/Destinations/Beijing" />
		<page path="/Info/Destinations/Irkutsk" />
		<page path="/Info/Destinations/Kamchatka" />
		<page path="/Info/Destinations/Perm" />
		<page path="/Info/Destinations/Kazan" />
		<page path="/Info/Destinations/Lake-Baikal" />
		<page path="/Info/Destinations/Moscow" />
		<page path="/Info/Destinations/Murmansk" />
		<page path="/Info/Destinations/Ulan-Ude" />
		<page path="/Info/Destinations/Ulan-Bator" />
		<page path="/Info/Destinations/Novosibirsk" />
		<page path="/Info/Destinations/St-Petersburg" />
		<page path="/Info/Destinations/Vladivostok" />
		<page path="/Info/Destinations/Volgograd" />
		<page path="/Info/Destinations/Yekaterinburg" />
		<page path="/Info/How-To-Get-Married" />
		<page path="/Info/ServiceStatus" />
		<page path="/Info/ReadingTickets" />
		<page path="/Info/Crimea-Update" />
		<page path="/Info/Travel-Guides" />
		<page path="/Info/Real-Russia-Team" />
		<page path="/Info/coronavirus-COVID19" />
		<page path="/Newsletter-Offer" />
		<page path="/Site-Pages" />

		<page path="/trans-siberian-railway" />
		<page path="/trans-siberian-railway/trans-manchurian1" />
		<page path="/trans-siberian-railway/trans-mongolian1" />
		<page path="/trans-siberian-railway/faqs" />
	</pages>

	<compareFields>
		<field tag="meta" name="keywords" attr="content"/>
		<field tag="meta" name="description" attr="content"/>
		<field tag="title" />
	</compareFields>
</configuration>