<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="pages" type="MetaComparer.PagesSection, MetaComparer" />
		<section name="sources" type="MetaComparer.SourcesSection, MetaComparer" />
		<section name="compareFields" type="MetaComparer.CompareFieldsSection, MetaComparer" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<sources>
		<source baseUrl="https://realrussia.co.uk" compare-role="Origin" />
		<source baseUrl="https://new.realrussia.co.uk" return-url-lower-case="true" compare-role="Target" />
	</sources>

	<pages>
		<page path="/Info/Faq" />
		<page path="/Info/TravelSim" />
		<page path="/Info/Testimonials" />
	</pages>

	<compareFields>
		<field tag="meta" name="keywords" attr="content"/>
		<field tag="meta" name="description" attr="content"/>
		<field tag="title" />
	</compareFields>
</configuration>